.article_item {
  //width: 730px;
  //height: 208px;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-line-color);
  &:nth-last-of-type {
    border: none;
  }
  .article_title {
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bolder;

    &:hover {
      color: rgb(5, 166, 240);
    }
  }
  .article_summary {
    display: flex;
    cursor: pointer;
    img,
    span {
      transition: all 0.2s;
    }
    .summary_text {
      margin-top: -10px;
      span {
        display: -webkit-box;
        line-height: 30px;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  .article_card {
    img {
      width: 170px;
      height: 100px;
      margin-right: 20px;
    }
    span {
      -webkit-line-clamp: 4;
    }
  }
  .article_text {
    img {
      width: 0;
      height: 0;
      margin-right: 0;
    }
    span {
      -webkit-line-clamp: 2;
    }
  }
  .article_info {
    display: flex;
    color: #939393;
    font-size: 12px;
    margin-top: 12px;
    line-height: 13px;
    .info_item {
      margin-right: 20px;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
    }
  }
}