.article_item {
  padding: 20px 12px 20px 20px;
  border-bottom: 1px solid var(--border-line-color);
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100vw;
  &:nth-last-of-type {
    border: none;
  }
  .article_title {
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bolder;

    &:hover {
      color: rgb(5, 166, 240);
    }
  }
  .article_summary {
    display: flex;
    cursor: pointer;
    img,
    span {
      transition: all 0.2s;
    }
    .summary_text {
      margin-top: -10px;
      span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 24px;
        overflow: hidden;
        font-size: 14px;
      }
    }
  }
  .article_card {
    img {
      width: 170px;
      height: 100px;
      margin-right: 20px;
    }
    span {
      -webkit-line-clamp: 4;
    }
  }
  .article_text {
    img {
      width: 0;
      height: 0;
      margin-right: 0;
    }
    span {
      -webkit-line-clamp: 2;
    }
  }
  .article_info {
    display: flex;
    justify-content: space-between;
    color: #939393;
    font-size: 12px;
    margin-top: 12px;
    line-height: 13px;
    .article_data {
      display: flex;
      .info_item {
        margin-right: 20px;
        cursor: pointer;
        i {
          margin-right: 5px;
        }
      }
    }

    .edit_box {
      width: 100px;
      .common {
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
        }
      }
      .edit {
        float: left;
        .common();
      }
      .delete {
        float: right;
        .common();
      }
    }
  }
}