.home_wrap {
  display: flex;
  font-size: 14px;
  flex: 1;
  justify-content: space-between;
  .article_box {
    flex: 1;
    margin: 0 8px;
    padding-bottom: 50px;
    .sort_top {
      height: 57px;
      color: #939393;
      padding: 20px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: var(--main-bg-color);
      span {
        float: left;
        margin-right: 15px;
      }
      .layout_change {
        float: right;
        font-size: 18px;
      }
    }
  }
  .article_list {
    margin-top: 13px;
    background-color: var(--main-bg-color);
  }
}