.home_wrap {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  .article_box {
    width: 730px;
    height: 80vh;
    background-color: red;
    .sort_top {
      color: #939393;
      span {
        float: left;
      }
      i {
        float: right;
      }
    }
  }
}