.biying_wrap {
  margin-top: 10px;
  .biying_top {
    height: 490px;
    overflow: hidden;
    background-color: #000;
    .top_container {
      max-width: 1200px;
      margin: 25px auto;
      display: flex;
      .today {
        flex: 2;
        height: 442px;
        background-color: red;
        border-radius: 8px;
        margin-right: 15px;
      }
      .yesterday {
        flex: 1;
        height: 442px;
        border-radius: 8px;
        background-color: yellow;
      }
    }
  }
  .biying_pics {
    height: 30vh;
    padding: 25px 0;
    .pic_container {
      max-width: 1200px;
      margin: 0 auto;
      .pic_item {
        float: left;
        width: 25%;
        padding: 0 6px 0 6px;
        box-sizing: border-box;
        a {
          height: 243px;
          display: block;
          margin-bottom: 10px;
          background-color: yellow;
        }
      }
    }
  }
}