.img_wrap {
  .common_img_style {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  .img_item {
    .common_img_style();
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    i {
      position: absolute;
      color: black;
      right: -1px;
      cursor: pointer;
      top: -2px;
      &:hover {
        background-color: rgba(0,0,0,.2);
      }
    }
  }
  .add_img {
    .common_img_style();
    margin-right: 0;
    cursor: pointer;
    text-align: center;
    line-height:90px;
    box-sizing: border-box;
    border: 1px dashed var(--sub-font-color);
    i {
      font-size: 28px;
    }
  }
}