@font-face {
    font-family: "iconfont"; /* Project id 2795858 */
    src: url('//at.alicdn.com/t/font_2795858_444own3e90v.woff2?t=1652420430662') format('woff2'),
    url('//at.alicdn.com/t/font_2795858_444own3e90v.woff?t=1652420430662') format('woff'),
    url('//at.alicdn.com/t/font_2795858_444own3e90v.ttf?t=1652420430662') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
    content: "\e621";
}

.icon-chat:before {
    content: "\e69d";
}

.icon-edit:before {
    content: "\e615";
}

.icon-jiantou_xiangyouliangci:before {
    content: "\eb09";
}

.icon-zuozuo-:before {
    content: "\e641";
}

.icon-camera:before {
    content: "\e6a7";
}

.icon-diannao:before {
    content: "\e63d";
}

.icon-shouji:before {
    content: "\e60b";
}

.icon-k-line:before {
    content: "\e719";
}

.icon-location:before {
    content: "\e790";
}

.icon-download:before {
    content: "\e6a5";
}

.icon-lock1:before {
    content: "\e709";
}

.icon-youjianyouxiang:before {
    content: "\e630";
}

.icon-security:before {
    content: "\e763";
}

.icon-calendar-alt:before {
    content: "\e81a";
}

.icon-collected:before {
    content: "\e67e";
}

.icon-a-share3-fill:before {
    content: "\ea25";
}

.icon-rubbish-icon:before {
    content: "\e692";
}

.icon-add1:before {
    content: "\e762";
}

.icon-cancel:before {
    content: "\e624";
}

.icon-add:before {
    content: "\e663";
}

.icon-yueduliang:before {
    content: "\e671";
}

.icon-caret-up:before {
    content: "\e8ec";
}

.icon-tuichu:before {
    content: "\e607";
}

.icon-shezhi-xianxing:before {
    content: "\e8b7";
}

.icon-gerenzhongxin:before {
    content: "\e643";
}

.icon-fenxiang:before {
    content: "\e600";
}

.icon-weibo:before {
    content: "\e6c4";
}

.icon-qzone:before {
    content: "\e642";
}

.icon-roundadd:before {
    content: "\e6d0";
}

.icon-comment_fill_light:before {
    content: "\e7e2";
}

.icon-picture-fill:before {
    content: "\e7cf";
}

.icon-wodewenzhang:before {
    content: "\e7d3";
}

.icon-emotion-fill:before {
    content: "\e7bb";
}

.icon-dengpao:before {
    content: "\e650";
}

.icon-zixunzhongxin:before {
    content: "\e627";
}

.icon-_qianduankaifa:before {
    content: "\e611";
}

.icon-code:before {
    content: "\e747";
}

.icon-code-box-fill:before {
    content: "\e72b";
}

.icon-7xinxifabu:before {
    content: "\e60a";
}

.icon-top:before {
    content: "\e69e";
}

.icon-like-fill:before {
    content: "\e869";
}

.icon-collection-fill:before {
    content: "\e79d";
}

.icon-ic_format_align_justify_px:before {
    content: "\e6b7";
}

.icon-biaoqiankuozhan_tuijian-126:before {
    content: "\eaf6";
}

.icon-houtaiguanli-fabuwenzhang:before {
    content: "\e6d8";
}

.icon-Moon:before {
    content: "\e76b";
}

.icon-sunny-sharp:before {
    content: "\ea2b";
}

.icon-xingqiu:before {
    content: "\e618";
}
