.header {
  height: 75px;
  background-color: var(--main-background-color);
  .header_wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left_side {
      display: flex;
      .logo {
        margin-right: 9px;
        .logo_icon {
          width: 30px;
          height: 30px;
          color: #05a6f0;
        }
      }
      .left_side_items {
        width: 485px;
        height: 30px;
        display: flex;
        font-size: 14px;
        color: #333333;
        justify-content: space-around;
        items-align: center;
        .left_side_item {

        }
      }
    }
    .right_side {
      width: 772px;
      .search_input {

      }
      .setting_panel {
        .switch_theme_button {

        }
        .publish_article_button {

        }
        .user_avatar {

        }
        .username {

        }
      }
    }
  }
}