.header {
  height: 60px;
  padding-top: .5px;
  box-shadow: 0px -4px 13px black;
  background-color: var(--main-bg-color);
  .header_wrap {
    width: 1200px;
    height: 32px;
    margin: 14px auto;
    display: flex;
    font-size: 14px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .left_side {
      width: 420px;
      margin-right: 163px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        margin-right: -30px;
        .logo_icon {
          font-size: 25px;
          color: #05a6f0;
        }
      }
      .left_side_item {
        font-size: 14px;
        color: #333333;
      }
    }
    .right_side {
      width: 617px;
      height: 32px;
      display: flex;
      .search_input {
        width: 280px;
        height: 32px;
        margin-right: 113px;
        font-size: 13px;
        position: relative;
        i {
          left: 12px;
          top: 10px;
          font-size: inherit;
          color: #99999b;
          position: absolute;
        }
        input {
          width: 100%;
          height: 100%;
          font-size: inherit;
          color: #939393;
          padding-left: 30px;
          border: none;
          outline: none;
          box-sizing: border-box;
          border-radius: 16px;
          border: 1px solid transparent;
          background-color: rgb(240,241,244);
          transition: all 0.3s;
          &:focus{
            border: 1px solid #05a6f0;
          }
          &:hover{
            border: 1px solid #05a6f0;
          }
        }
      }
      .setting_panel {
        width: 225px;
        display: flex;
        justify-content: space-between;
        .setting_button {
          width: 32px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          border-radius: 50%;
        }
        .switch_theme {
          background-color: #e5e6eb;
        }
        .publish_article {
          color: white;
          background-color: #05a6f0;
        }
        .user_avatar {
          width: 124px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            margin-right: 10px;
            background-color: red;
          }
          .username {
            width: 83px;
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .drop_down_setting {
      top: 40px;
      right: 0;
      width: 175px;
      height: 115px;
      z-index: 99;
      padding: 12px 14px;
      border-radius: 5px;
      position: absolute;
      box-sizing: border-box;
      background-color: var(--main-bg-color);
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
      i {
        left: 50%;
        top: -12px;
        color: #d5d5d5;
        position: absolute;
        transform: translateX(-50%);
      }
      .setting_item {
        color: #333;
        height: 33.3%;
        display: flex;
        align-items: center;
        &:hover {
          color: #05a6f0;
        }
      }
    }
  }
}