.common_input_border {
  border: 1px solid transparent;
  transition: border 0.3s;
  &:focus{
    border: 1px solid var(--input-border-color);
  }
  &:hover{
    border: 1px solid var(--input-border-color);;
  }
}
.common_button_style {
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#0084ff,#3fe6fe);
}