/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, button, input,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
input, textarea {
  outline: none;
  border: none;
  resize: none;
}
input[type="radio" i] {
  margin: 0;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  --primary-color: #05a6f0;
}
html.light {
  --spare-bg-color: #f5f5f5;
  --main-bg-color: #fff;
  --font-color: #333;
  --category-bg-color: #fafafa;
  --category-hover-bg-cover: rgb(245,245,245);
  --sub-font-color: #939393;
  --input-bg-color: #f0f1f4;
  --border-line-color: #f2f2f2;
  --input-border-color: #05a6f0;
  --hover-color: rgb(242, 242, 242);
  --alpha-color: 0,0,0;
  --common-linear-bg: linear-gradient(135deg,#0084ff,#3fe6fe);
}
html.dark {
  --spare-bg-color: #0c0c0c;
  --main-bg-color: #16161a;
  --font-color: #d3d3d3;
  --sub-font-color: #999;
  --input-bg-color: #25252c;
  --border-line-color: #202025;
  --input-border-color: #05a6f0;
  --hover-color: rgb(37,37,44);
  --alpha-color: 255, 255, 255;
  --common-linear-bg: linear-gradient(135deg,#0084ff,#3fe6fe);
}
#root {
  color: var(--font-color);
  background-color: var(--spare-bg-color);
}
.active {
  color: #05a6f0!important;
}
.cursor_pointer {
  cursor: pointer;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
.clearfix {
    zoom: 1
}
a {
  text-decoration: none;
  color: inherit;
}
.text_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*网页markdown文本编辑样式*/
.hljs,
.hljs code {
  color: #fff!important;
  background-color: #282c34!important;
}
.hljs {
  padding: 16px!important;
  border-radius: 5px!important;
}
.hljs::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: #ec6a5e;
  margin: 5px;
  box-shadow: 20px 0 0 0 #f4be4f, 40px 0 0 0 #61c454;
}
/*网页滚轮样式设置*/
::-webkit-scrollbar {
  background-color: rgba(0,0,0,.03)!important;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,.07ggi)!important;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.02)!important;
  border-radius: 10px;
}
/*下拉样式*/
.optionListContainer {
  background-color: var(--main-bg-color)!important;
}

.custom-html-style p {
  font-size: 16px!important;
}
.custom-html-style {
  color: inherit!important;
}
.custom-html-style blockquote {
  color: inherit!important;
}